<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TaskFlow Dashboard</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <div class="app">
        <!-- Sidebar -->
        <aside class="sidebar">
            <h2 class="logo">TaskFlow</h2>
            <nav>
                <a class="active">Home</a>
                <a>Chat</a>
                <a href="http://10.0.0.144:8082/dashboard.php">Calendar</a>
                <a>Notifications</a>
                <a>Settings</a>
            </nav>

            <button class="create-btn" onclick="window.location.href = '/NewTask'">+ New Task</button>
        </aside>

        <!-- Main Content -->
        <main class="main">
            <header class="topbar">
                <div class="user-area">
                    <div class="user-info">
                        <h1>Good Morning 👋</h1>
                        <p class="username"><%= user.uuid %></p>
                        <p class="username"><%= user.username %></p>
                        <p class="username"><%= user.email %></p>
                    </div>
                    <img class="avatar" src="https://i.pravatar.cc/80" alt="avatar">
                </div>

                <div class="task-controls">
                    <input class="search" id="taskSearch" placeholder="Search task">

                    <select class="sort">
                        <option>Sort by date</option>
                        <option>Sort by priority</option>
                        <option>Sort by progress</option>
                    </select>
                </div>
            </header>

            <!-- Stats -->

            <section class="stats">
                <div class="stat-card">
                    <% let i = tasks.length %>
                    <h3><%= i %></h3>
                    <p>Total Tasks</p>
                </div>

                <div class="stat-card">
                    <% let i1 = 0 %>
                    <% for (const key in tasks) {%>
                        <% const task = tasks[key].status%>
                        <% if (task === 'In Progress'){ %>
                            <% i1++ %>
                        <% } %>
                    <% } %>
                    <h3><%= i1 %></h3>
                    <p>In Progress</p>
                </div>

                <div class="stat-card">
                    <% let i2 = 0 %>
                    <% for (const key in tasks) {%>
                        <% const task = tasks[key].status%>
                        <% if (task === 'Completed'){ %>
                            <% i2++ %>
                        <% } %>
                    <% } %>
                    <h3><%= i2 %></h3>
                    <p>Completed</p>
                </div>

                <div class="stat-card">
                    <% let i3 = 0 %>
                    <% for (const key in tasks) {%>
                        <% const task = tasks[key].status%>
                        <% if (task === 'Incompleted'){ %>
                            <% i3++ %>
                        <% } %>
                    <% } %>
                    <h3><%= i3 %></h3>
                    <p>Incompleted</p>
                </div>
            </section>


            <!-- Tasks -->

            <section class="tasks">
                <div class="task-section-grid">
                    <h2 class="section-title">Today</h2>
                    <p class="section-desc" >Due today</p>
                    <div class="task-grid" id=todayTasks"> 
                        <% tasks.forEach(function(task) { %>
                            <% const datenow = new Date() %>
                            <% const taskdate = new Date(task.dueto) %>
                            <% const year = taskdate.getFullYear() - datenow.getFullYear() %>
                            <% const month = taskdate.getMonth() - datenow.getMonth() %>
                            <% const day = taskdate.getDate() - datenow.getDate()%>
                            
                            <% if (year === 0 &&
                                month === 0 &&
                                day === 0) { %>
                                <div class="task-card">
                                    <div class="task-header">
                                        <h3 class="task-title"><%= task.title %></h3>
                                        <span class="priority <%= task.priority %>"><%= task.priority %></span>
                                    </div>

                                    <p class="task-desc"><%= task.description %></p>

                                    <div class="progress">
                                        <div class="progress-bar" style="width:0%"></div>
                                    </div>

                                    <div class="task-footer">
                                        <span>Due: Today</span>
                                        <div class="team">
                                            <img src="https://i.pravatar.cc/30?img=1">
                                            <img src="https://i.pravatar.cc/30?img=2">
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>

                <div class="task-section-grid">
                    <h2 class="section-title">Week</h2>
                    <p class="section-desc">Due this week</p>
                    <div class="task-grid" id="weekTasks">
                        <% tasks.forEach(function(task) { %>
                            <% const datenow = new Date() %>
                            <% const taskdate = new Date(task.dueto) %>
                            <% const year = taskdate.getFullYear() - datenow.getFullYear() %>
                            <% const month = taskdate.getMonth() - datenow.getMonth() %>
                            <% const day = taskdate.getDate() - datenow.getDate()%>
                            <% const weekDay = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %>
                            <% const dueWeekDay = new Date(task.dueto).getDay()%>
                            

                            <% if (year === 0 &&
                                month === 0 &&
                                day >= 1 &&
                                day <= 7 ) { %>
                                <div class="task-card">
                                    <div class="task-header">
                                        <h3 class="task-title"><%= task.title %></h3>
                                        <span class="priority <%= task.priority %>"><%= task.priority %></span>
                                    </div>

                                    <p class="task-desc"><%= task.description %></p>

                                    <div class="progress">
                                        <div class="progress-bar" style="width:0%"></div>
                                    </div>

                                    <div class="task-footer">
                                        <span>Due: <%= weekDay[dueWeekDay] %></span>
                                        <div class="team">
                                            <img src="https://i.pravatar.cc/30?img=1">
                                            <img src="https://i.pravatar.cc/30?img=2">
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>


                <div class="task-section-grid">
                    <h2 class="section-title">Month</h2>
                    <p class="section-desc">Due this month</p>

                    <div class="task-grid" id="monthTasks">
                        <% tasks.forEach(function(task) { %>
                            <% const datenow = new Date() %>
                            <% const taskdate = new Date(task.dueto) %>
                            <% const year = taskdate.getFullYear() - datenow.getFullYear() %>
                            <% const month = taskdate.getMonth() - datenow.getMonth() %>
                            <% const day = taskdate.getDate() - datenow.getDate()%>
                            <% const dueM = ["January","February","March","April","May","June","July","August","September","October","November","December"] %>
                            <% if (year === 0 &&
                                   month === 1 &&
                                   day === 0 ||
                                   year === 0 &&
                                   month === 0 &&
                                   day >= 8 &&
                                   day <=31) { %>
                                
                                <div class="task-card">
                                    <div class="task-header">
                                        <h3 class="task-title"><%= task.title %></h3>
                                        <span class="priority <%= task.priority %>"><%= task.priority %></span>
                                    </div>

                                    <p class="task-desc"><%= task.description %></p>

                                    <div class="progress">
                                        <div class="progress-bar" style="width:0%"></div>
                                    </div>

                                    <div class="task-footer">
                                        <span>Due: <%= taskdate.getDate() %> <%= dueM[taskdate.getMonth()] %></span>
                                        <div class="team">
                                            <img src="https://i.pravatar.cc/30?img=1">
                                            <img src="https://i.pravatar.cc/30?img=2">
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>

                <div class="task-section-grid">
                    <h2 class="section-title">Year</h2>
                    <p class="section-desc">Due this year</p>

                    <div class="task-grid" id="yearTasks">
                        <% tasks.forEach(function(task) { %>
                            <% const datenow = new Date() %>
                            <% const taskdate = new Date(task.dueto) %>
                            <% const year = taskdate.getFullYear() - datenow.getFullYear() %>
                            <% const month = taskdate.getMonth() - datenow.getMonth() %>
                            <% const day = taskdate.getDate() - datenow.getDate()%>

                            <% if (year >= 0 &&
                                month >= 1) { %>
                                
                                <div class="task-card">
                                    <div class="task-header">
                                        <h3 class="task-title"><%= task.title %></h3>
                                        <span class="priority <%= task.priority %>"><%= task.priority %></span>
                                    </div>

                                    <p class="task-desc"><%= task.description %></p>

                                    <div class="progress">
                                        <div class="progress-bar" style="width:0%"></div>
                                    </div>

                                    <div class="task-footer">
                                        <span>Due: <%= task.dueto %></span>
                                        <div class="team">
                                            <img src="https://i.pravatar.cc/30?img=1">
                                            <img src="https://i.pravatar.cc/30?img=2">
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script>
        
        function taskText(){
            const g = document.querySelectorAll('.task-section-grid');
            g.forEach(grid => {
                const task = grid.querySelector(".task-card");
                const title = grid.querySelector(".section-title");
                const description = grid.querySelector(".section-desc");
                if (task === null || task.style.display === "none") {
                    title.style.display = "none";
                    description.style.display = "none"
                } else {
                    title.style.display = "block"
                    description.style.display = "block";
                }
            })
        } 
        taskText()  
        const searchInput = document.getElementById("taskSearch");

        searchInput.addEventListener("input", function () {
            const query = this.value.toLowerCase();
            const tasks = document.querySelectorAll('.task-card');
            tasks.forEach(task => {
                const title = task.querySelector(".task-title").textContent.toLowerCase();
                const desc = task.querySelector(".task-desc").textContent.toLowerCase();

                if (title.includes(query) || desc.includes(query)) {
                    task.style.display = "block";
                } else {
                    task.style.display = "none"
                }
            });
            taskText()
        });
    </script>
</body>
</html>